html,body{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
#container{
    height:100vh;
    width: 100vw;
}
canvas{
    display:block;
    width:100%;
    height:100%;
}
.arrow{
    position: absolute;
    font-size: 80px;
}
#arrowl{
  top:50%;
}
#arrowr{
    right:0%;
    top:50%;
}